<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bullhorn Careers: {{ job.title }}</title>
    <script type="application/ld+json"> {
  "@context" : "http://schema.org/",
  "@type" : "JobPosting",
  "title" : "{{ job.title }}",
  "description" : "{{ job.publicDescription }}",
  "identifier": {
    "@type": "PropertyValue",
    "name": "{{ job.title }}",
    "value": "{{ job.id }}"
  },
  "datePosted" : "{{ job.dateLastPublished }}",
  "validThrough" : "{{ job.validThrough }}",
  "employmentType" : "{{ job.employmentType }}",
  "hiringOrganization" : {
    "@type" : "Organization",
    "name" : "{{companyName}}",
    "sameAs" : "{{companyWebsite}}",
    "logo" : "{{companyLogo}}"
  },
  "jobLocation" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "{{job.address.address1}}",
      "addressLocality" : "{{job.address.city}}",
      "addressRegion" : "{{job.address.state}}",
      "postalCode" : "{{job.address.zip}}",
      "addressCountry": "US"
    }
  }
  {{!-- {{#if job.salary}},
  "baseSalary": {
    "@type": "MonetaryAmount",
    "currency": "USD",
    "value": {
      "@type": "QuantitativeValue",
      "value": {{ job.salary }},
      "unitText": "YEAR"
    }
  }{{else}},
  "baseSalary": {
    "@type": "MonetaryAmount",
    "currency": "USD",
    "value": {
      "@type": "QuantitativeValue",
      "value": {{ job.payRate }},
      "unitText": "{{ job.salaryUnit }}"
    }
  }
  {{/if}} --}}
}
</script>
    <style>
        body {
            background: #f2f2f2;
            font-family: 'proxima-nova-soft', sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .post-module {
            position: relative;
            z-index: 1;
            display: block;
            background: #FFFFFF;
            min-width: 270px;
            min-height: 470px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            -webkit-transition: all 0.3s linear 0s;
            -moz-transition: all 0.3s linear 0s;
            -ms-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
        }

        .post-module .thumbnail {
            background: linear-gradient(-70deg, #DD7788 30%, rgba(0,0,0,0) 30%), linear-gradient(-30deg, #BB5566 60%, #993344 60%);
            height: 50px;
            overflow: hidden;
        }

        .post-module .thumbnail .date {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background: #e74c3c;
            width: 55px;
            height: 55px;
            padding: 12.5px 0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            color: #FFFFFF;
            font-weight: 700;
            text-align: center;
            -webkti-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .post-module .thumbnail .date .day {
            font-size: 18px;
        }

        .post-module .thumbnail .date .month {
            font-size: 12px;
            text-transform: uppercase;
        }

        .post-module .thumbnail .bg {
            display: block;
            width: 120%;
            height: 60px;

            -webkit-transition: all 0.3s linear 0s;
            -moz-transition: all 0.3s linear 0s;
            -ms-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
        }

        .post-module .post-content {
            position: relative;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 30px;
            -webkti-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }

        .post-module .post-content .category {
            position: absolute;
            top: -20px;
            left: 0;
            background: #e74c3c;
            padding: 10px 15px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .post-module .post-content .title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 26px;
            font-weight: 700;
        }

        .post-module .post-content .sub_title {
            margin: 0;
            padding: 0 0 0px;
            color: #e74c3c;
            font-size: 20px;
            font-weight: 400;
        }

        .post-module .post-content header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .post-module .post-content header .logo {
            height: 70px;
        }

        .post-module .post-content .description {
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
        }

        .post-module .post-content .post-meta {
            margin: 30px 0 0;
            color: #999999;
        }

        .post-module .post-content .post-meta .timestamp {
            margin: 0 16px 0 0;
        }

        .post-module .post-content .post-meta a {
            color: #999999;
            text-decoration: none;
        }

        .container {
            max-width: 800px;
            min-width: 640px;
            margin: 0 auto;
        }

        .container:before,
        .container:after {
            content: '';
            display: block;
            clear: both;
        }

    </style>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <!-- Post-->
        <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
                <div class="date">
                    <div class="day">{{ formatDate job.startDate day="numeric" }}</div>
                    <div class="month">{{ formatDate job.startDate month="short" }}</div>
                </div>
            </div>
            <!-- Post Content-->
            <div class="post-content">
                <div class="category">{{ job.employmentType }}</div>
                <header>
                    <hgroup>
                        <h1 class="title">{{ job.title }}</h1>
                        <h2 class="sub_title">{{companyName}}</h2>
                    </hgroup>
                    <img class="logo" src="{{companyLogo}}"> 
                </header>
                <p class="description">{{{ job.publicDescription }}}</p>
                <div class="post-meta">
                    <span class="timestamp">
                        <i class="fa fa-map-marker-alt"></i>{{ job.address.city }}, {{ job.address.state }}</span>
                    {{!-- <span class="comments">
                        {{#if job.salary}}
                        <a href="#">{{ formatNumber job.salary style="currency" currency="USD" }}</a>
                        {{else}}
                        <a href="#">{{ formatNumber job.payRate style="currency" currency="USD" }} {{job.salaryUnit}}</a>
                        {{/if}}
                    </span> --}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>