<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bullhorn Careers</title>
    <style>
        body {
            background: #f2f2f2;
            font-family: 'proxima-nova-soft', sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .post-module {
            position: relative;
            z-index: 1;
            display: block;
            background: #FFFFFF;
            min-width: 270px;
            min-height: 470px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            -webkit-transition: all 0.3s linear 0s;
            -moz-transition: all 0.3s linear 0s;
            -ms-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
        }

        .post-module .thumbnail {
            background: linear-gradient(-70deg, #DD7788 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(-30deg, #BB5566 60%, #993344 60%);
            height: 50px;
            overflow: hidden;
        }

        .post-module .thumbnail .date {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background: #e74c3c;
            width: 55px;
            height: 55px;
            font-size: 26px;
            padding: 12.5px 0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            color: #FFFFFF;
            font-weight: 700;
            text-align: center;
            -webkti-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .post-module .post-content {
            position: relative;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 30px;
            -webkti-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }

        .post-module .post-content .category {
            position: absolute;
            top: -20px;
            left: 0;
            background: #e74c3c;
            padding: 10px 15px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .post-module .post-content .title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 26px;
            font-weight: 700;
        }

        .post-module .post-content .sub_title {
            margin: 0;
            padding: 0 0 0px;
            color: #e74c3c;
            font-size: 20px;
            font-weight: 400;
        }

        .post-module .post-content header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .post-module .post-content header .logo {
            height: 70px;
        }

        .post-module .post-content .description {
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
        }

        .post-module .post-content .post-meta {
            margin: 30px 0 0;
            color: #999999;
        }

        .post-module .post-content .post-meta .timestamp {
            margin: 0 16px 0 0;
        }

        .post-module .post-content .post-meta a {
            color: #999999;
            text-decoration: none;
        }

        .container {
            max-width: 800px;
            min-width: 640px;
            margin: 0 auto;
        }

        .container:before,
        .container:after {
            content: '';
            display: block;
            clear: both;
        }


        #timeline {
            width: 100%;
            position: relative;
            list-style: none;
            padding: 0;

        }

        #timeline a {
            text-decoration: none;

        }

        #timeline:after {
            content: "";
            width: 1px;
            background: 1px #e6e7e9;
            height: 90%;
            position: absolute;
            top: 3em;
            left: 3em;
            z-index: 0;
        }

        #timeline .listing {
            box-sizing: border-box;
            background-color: white;
            border: 1px solid #e6e7e9;
            border-radius: 0.3em;
            padding: 1em;
            margin-bottom: 1em;
            position: relative;
            z-index: 1;
            display: flex;
            flex-flow: row no-wrap;
            align-content: center;
            align-items: center;
            width: 100%;
            transition: all .3s ease-in-out;
        }
        #timeline > a {
            display: block;
        }

        .listing:hover {
            cursor: pointer;
            box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1);

        }

        #timeline .listing img,
        .info,
        .job_type {
            display: table-cell;
            vertical-align: middle;
            font-size: 0.9em;
            color: #74718f;

        }

        #timeline .image_wrapper {
            width: 60px;
        }

        #timeline .image_wrapper img {
            width: 60px;
            display: block;
            margin: 0 auto;
            border-radius: 0.25em;
        }

        .info {
            line-height: 1.25;
            flex: 1;
            padding-left: 25px;
        }

        .job_title {
            font-weight: 700;
            font-size: 1.5em;
            color: #34324b;
        }

        .job_info {
            color: #74718f;
            display: block;

        }

        .job_info span {
            margin: 0 .75em;
        }

        .job_type {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75em;
            position: relative;
            white-space: nowrap;
            padding-top: .6em;
            width: 100px;
        }

        .job_type:before {
            content: " ";
            background-color: #fd7576;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            left: -20px;
            top: 8px;
        }

        .full_time {
            color: #fd7576;

        }

        .full_time:before {
            background-color: #fd7576;
        }

        .part_time {
            color: #fec85d;

        }

        .part_time:before {
            background-color: #fec85d;
        }

        .freelance {
            color: #4db8de;

        }

        .freelance:before {
            background-color: #4db8de;
        }

        .contract {
            color: #a378fc;

        }

        .contract:before {
            background-color: #a378fc;
        }

        .date {
            display: inline-block;
            padding: 1em 0;
            width: 100px;
            background-color: white;
            border: 1px solid #e6e7e9;
            border-radius: 3em;
            font-weight: 700;
            font-size: .75em;
            text-align: center;
            z-index: 2;
            position: relative;
            margin: 1em 0 2em 0;
            color: #34324b;
        }

        .load_more {
            text-align: center;

        }

        .button {
            border: 2px solid #a378fc;
            outline: none;
            padding: 1em 3.5em;
            text-align: center;
            background: transparent;
            border-radius: 3em;
            color: #a378fc;
            transition: all .3s ease-in-out;
        }

        .button:hover {
            background-color: #a378fc;
            color: white;

        }
    </style>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <!-- Post-->
        <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
            </div>
            <!-- Post Content-->
            <div class="post-content">
                <div class="category">Recent Jobs</div>
                <ul id="timeline">
                    {{#each jobs}}
                    <a href="/jobs/{{this.id}}">
                        <li class="listing clearfix">
                            <div class="image_wrapper">
                                <img src="http://placekitten.com/g/20{{@index}}/20{{@index}}/" alt="Twitter">
                            </div>
                            <div class="info">
                                <span class="job_title">{{this.title}}</span>
                                <span class="job_info">
                                    {{this.address.city}}, {{this.address.state}}
                                    <span>&bull;</span> 
                                    {{this.employmentType}}
                                    {{#if this.startDate}}
                                    <span>&bull;</span> {{ formatDate this.startDate day="numeric" month="long" year="numeric" }}</span>
                                    {{/if}}
                            </div>
                            <span class="job_type full_time">Full-Time</span>
                        </li>
                    </a>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>